# ==== Server ====
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:3000

# ==== Database MySQL ====
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=perpusmini
DB_POOL=10

# ==== Keamanan ====
# Hasilkan nilai acak dengan: node scripts/genkey.js
JWT_SECRET=ganti_dengan_string_acak_panjang
JWT_EXPIRES_IN=2h
# Wajib 64 karakter hex (32 byte) untuk AES-256-GCM
ENCRYPTION_KEY=ganti_dengan_64_karakter_hex
BCRYPT_ROUNDS=12
